body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
    margin: 0px;

}

img {
    display: block;
}

 ul,ol {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
     color: inherit;
 }

 a:hover, a:focus .navigation-item.current{
     color: #404bbf;
    }

button {
    cursor: pointer;
     }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p 
{
    margin: 0;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
/*         header           */

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-link.current {
    position: relative;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo { 
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo-studio {
color: #2e2f42;
}

.navigation-item { 
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        
}

.navigation-list {
    display: none;
    gap: 40px;
}

.address {
    display: none;
    font-style: normal;
    margin-left: auto;
}

.address-list{
    display: flex;
    gap: 40px;
}

.address-item {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-item-ref {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item-ref:hover,
.address-item-ref:focus {
    color: #404bbf;
}

.navigation-item-ref {
    display: block;
    color: #2e2f42;
        font-weight: 500;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        line-height: 1.5;
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-ref.current {
    color: #404bbf;
    position: relative;
}

.navigation-item-ref.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.header-button{
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    margin-left: auto;
}

.header-btn-icon{
    fill: #2f2f37;
}

/*          header mob menu */

.mob-menu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 7;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mob-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mob-menu-modal-close-btn {
    display: block;
    margin-left: auto;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 24px;
    flex-shrink: 0;
}

.modal-close-icon {}

.mob-menu-navigation-list {
}

.mob-menu-navigation-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-navigation-item-ref {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.mob-menu-navigation-item-ref.current {
    color: #404bbf;
    position: relative;
}

.mob-menu-address {
    font-style: normal;
    text-decoration: none;
    margin-bottom: 48px;
}

.mob-menu-address-list {}

.mob-menu-address-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-menu-address-item-ref {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mob-menu-address-item-ref.current {
    color: #404bbf;
    position: relative;
}

.mob-menu-soc-links {}

.mob-menu-soc-links-list {display: flex;
    gap: 40px;
    align-items: center;
    /* justify-content: center; */
}

.mob-menu-soc-link-item {display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.mob-menu-soc-link {
    display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-soc-link-icon {
    fill: #f4f4fd;
}

.mob-menu-low-block{
    margin-top: auto;
}

/*       header mob menu */


/*         header           */

/*         solutions           */
.solutions {
    background-color: #2e2f42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ),
     url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    min-height: 432px;
    max-width: 320px;
}

@media screen and (min-resolution: 2x) {
    .solutions {
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-mob-2x.jpg);}
        max-width: 320px;
}
 
.solutions-title {
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;

        margin-bottom: 72px;
        width: 216px;
        margin: 0 auto;
        font-weight: 700;
}

.solutions-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    align-items: center;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    height: 56px;
    min-width: 169px;
    margin-top: 72px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-button:focus,
.solutions-button:hover {background-color: #404BBF;}

/*         solutions           */

/*         features           */
.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-item {
}

.principles-item-icon-border {
    display: none;
}
.features-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.features-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/*         features           */



/*         team           */
.team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.team-member {
    background-color: #FFFFFF;
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 100%;
    max-width: 264px;
}

.div-team-subtitle{
padding: 32px 0;
}

.team-image {}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-links-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    max-width: 232px;
}

.social-link-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:focus {
    background-color: #404bbf;
    ;
}

.team-member:hover .social-link {
    background-color: #404bbf;
}

.social-link-icon {
    fill: #F4F4FD;
}
/*         team           */

/*         portfolio           */

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-container {
    width: 288px;
    height: 120px;
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-item {
}

.portfolio-image {
    width: 288px;
    height: 280px;
    object-fit: cover;

}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.portfolio-picture {
    position: relative;
    overflow: hidden;
}

.card-info {
    background-color: #4d5ae5;
    color: #f4f4fd;
    line-height: 1.5;
    position: absolute;
    letter-spacing: 0.02em;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .card-info {
    transform: translateY(0);
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}
/*         portfolio           */

/*         footer           */
.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 72px;
    

}

.footer-logo-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 72px;

}

.logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo-studio-footer {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    max-width: 288px;

}

.footer-soc-link-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;

    display: flex;
    align-items: center;
    flex-direction: column;
}


.footer-soc-links-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.footer-soc-link-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link-icon {
    fill: #f4f4fd;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.footer .logo {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.footer-sub{
    width: 100%;
    max-width: 453px;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 0 auto;
}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.footer-btn{
        border-radius: 4px;
        padding: 8px 24px;
        min-width: 165px;
        height: 40px;
        background: #4d5ae5;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: left;
        color: #fff;
        padding-left: 24px;
        padding-right: 24px;
        border: none;
        justify-content: center;
}

.footer-btn-icon {
    fill: #fff;
    margin-left: 16px;
}


.subscribe-form {
    gap: 24px;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.footer-label {
    display: flex;
}
/*         footer           */

/*         modal          */
.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(46, 47, 66, 0.4);
    top: 0;
    z-index: 999;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal{
width: 100%;
max-width: 288px;
min-height: auto;

border-radius: 4px;
background: #fcfcfc;;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 16px 24px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
    background-color: #404bbf;
    border: none;
    }

.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.modal-close-icon {
    fill: #2e2f42;
    display: block;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #fff;
}

.modal-text-par {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

:root {
    --modal-title-color: #2E2F42;
    --accent-color: #404bbf;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-input{
    height: 40px;
    width: 100%;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.input-block{
    margin-bottom: 8px;
    position: relative;
}

.modal-label{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
        text-align: left;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;

}

.input-wrapper {
    position: relative;
}

.input-wrapper:focus-within .modal-input {

    outline: none;
}

.input-wrapper:focus-within .modal-input-icon {
    fill: #4D5AE5;
}

.modal-btn{
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-top: auto;
    align-self: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-area{
    height: 120px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    margin-bottom: 16px;
}

.modal-text-area:focus {
    border-color: #4D5AE5;
    outline: none;
}

.modal-text-area::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-title {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    align-items: center;
}

.checkbox-title .privacy-policy {
    text-decoration: underline;
    color: #4d5ae5;
    margin-left: 4px;
}

.checkbox-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.icon-checkbox {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked+label .checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

input[type="checkbox"]:checked+label .icon-checkbox {
    fill: #F4F4FD;
}

.check-lab-icon {
    fill: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check {
    margin-bottom: 24px;
}

.privacy-link {
    text-decoration: underline;
    color: #4d5ae5;
}

.label-text {
    display: inline;
}

/*         modal          */

/*         media          */

@media  screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    
        /* header */
    .logo {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 120px;
    }

    .navigation-list {
        display: flex;
     }

    .address {
        display: flex;
    }

    .address-list {
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
    }

    .address-item {
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
    }

    .header-button{
        display: none;
    }

    .mob-menu {
        display: none;
    }    
        /* header */

        /* solutions */

    .solutions {
        padding-top: 112px;
        padding-bottom: 112px;
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg-tab.jpg);
        max-width: 768px;
    }

    @media screen and (min-resolution: 2x) {
    .solutions {
        background-image:linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg-tab-2x.jpg);}
         max-width: 768px;
    }

    .solutions-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 48px;
        width: 496px;
        }

    .solutions-button {
        margin-top: 48px;
    }


        /* solutions */

        /* features */
    .features-item {
     width: calc((100% - 24px) / 2);
        }

    .features-list {
        column-gap: 24px;
    
    }

    .features-subtitle {
        text-align: left;
    }
        /* features */

        /* team */

    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
        }

    .team-member {
        flex-basis: calc((100% - 24px) / 2);
    }    


        /* team */

        /* portfolio */
    .portfolio-list {
            row-gap: 72px;
            justify-content: center;
        }

    .portfolio-image {
        width: 356px;
        height: 300px;
    }

    .portfolio-container {
        width: 356px;
    }

        /* portfolio */

    /* footer */

     .footer-container {
        padding-left: 108px;
        padding-right: 108px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;

        }

    .footer-logo-text {
        width: 264px;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 0;
    }

    .footer-soc-link-text{
        align-items: flex-start;
        text-align: left;
    }


    .footer-sub {
        align-items: flex-start;
        margin: 0;
    }

    .subscribe-form {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .footer-label {
         margin-bottom: 0;
    }
    
    .footer-input {
        margin-bottom: 0;
        width: 264px;
    }

    .foot-tabl-logo-soc{
    display: flex;
        gap: 24px;
    }
   
    /* footer */

    /* modal */
    .modal {
        max-width: 408px;
        padding: 72px 24px 24px;
    /* modal */
}
}


@media screen and (min-width: 1158px)  {
    .container, .team .container,
        .footer .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /* header */
.logo{
    margin-right: 76px;
}


.address-list {
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
}

 .address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

 }
    /* header */

    /* solutions */

    .solutions {
        padding-top: 188px;
        padding-bottom: 188px;
        min-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/office.jpg);
        max-width: 1158px;
    }

    @media screen and (min-resolution: 2x) {
        .solutions {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-desc-2x.jpg);

        max-width: 1158px;
    }
}

    
    /* solutions */

    /* features */

    .features {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .features-item {
         width: calc((100% - 3 * 24px) / 4);
    }

    .principles-item-icon-border {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 264px;
        height: 112px;
        background: #F4F4FD;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .features-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }

    .features-text {
        font-weight: 400;
    }

    /* features */

    /* team */

    .team {
        padding-top: 120px;
        padding-bottom: 120px;
        }

    /* team */


    /* portfolio */
    .portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .portfolio-container {
        width: 360px;
    }

    .portfolio-image{
        width: 100%;
        height: auto;
    }

    .portfolio-list {
        justify-content: flex-start;
    }
    .portfolio-list {
        row-gap: 48px;
    }

     /* portfolio */

    /* footer*/

    .footer-container {
        justify-content: space-between;
    }

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        flex-direction: row;
    

    }

    .footer-logo-text {
        margin-right: 120px;
    }

    .footer-sub {
        height: 80px;
        margin-left: 80px;
        align-items: flex-start;
        margin: 0;
    
    }

    .foot-tabl-logo-soc {
        gap: 0;
        }
    /*footer*/


}
